@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: black;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */	
}

.container button {
    font-family: 'Poppins', cursive;
    padding: 10px;
    border-radius: 5px;
    border: none;
}